:root {
    /* Color Theme Swatches in Hex */
    --color-blue-dark: #4c69f6;
    --color-blue: #4c94f6;
    --color-yellow: #f6db35;
    --color-orange: #ffc510;
    --color-red: #ee5454;
}

@font-face {
    font-family: logo-font;
    src: url(Bangers-Regular.ttf);
}

@font-face {
    font-family: game-font;
    src: url(OpenSans-Regular.ttf);
}

body {
    font-family: game-font, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

