@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

:root {
    /* Color Theme Swatches in Hex */
    --color-blue-dark: #4c69f6;
    --color-blue: #4c94f6;
    --color-yellow: #f6db35;
    --color-orange: #ffc510;
    --color-red: #ee5454;
}

html,
body,
#root {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 100%;

    /*
    who doesn't love a sexy background
    totally lifted this from https://cssgradient.io/gradient-backgrounds/
     */
    background-color: var(--color-blue-dark);
    background-image: linear-gradient(62deg, var(--color-blue-dark) 0%, var(--color-blue) 100%);
}

